h1{
    color: blueviolet;
    align-content: center;
}
.span{
    color: brown;
    font-size: 1.5em ;
}
.contact-info{
    color:chocolate;
    font-size: 1.5em;
}
.message{
    color: chocolate;
    font-size: 1.5em;
}